.navbar{
  height: 50px;
}

.navbar-default {
background-color: #2F92CA;
}

.navbar-default .navbar-nav > li > a {
color: #FFF;
}
.navbar-default .navbar-nav > .active > a {
background-color: transparent;
color: #FFF;
padding-bottom: 10px;
border-bottom: 5px solid #FFF;
}
.navbar-brand img {
  height: 100%
}

nav form#search {
  float: right;
  padding: 0.5em;
}


nav form#search .glyphicon-search {
  z-index: 99;
  position: absolute;
  right: 0.7em;
  top: 50%;
  margin-top: -0.44em;
}

nav form#search .input-group .form-control {
  border-radius: 0.25em;
}

.glyphicon {
  margin-right: 4px;
}

#nav-options {
margin: 0.5em;
}
#nav-options button.thumbnail {
  margin: 0;
padding: 0;
}
#nav-options img {
max-height: 2.3em;
border-radius: 0.3em;
}

#tweet {
margin: 0.5em;
}

.navbar-default {
background-color: #2F92CA;
}
.navbar-default .navbar-nav > li > a {
color: #FFF;
}

#tweet {
  margin-top: 0px;
  border-top-width: 0px;
}
